.App {
  text-align: center;
  margin-top: 15vh;
  width: 100%;
}

.accordion {
  margin: auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #bb86fc;
  color: white;
  font-weight: 600;
  font-size: medium;
}

.accordion-title:hover {
  background-color: #bb86fc;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: #bb86fc;
  color: white;
}
